.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height:fit-content;
    background-color: rgb(37,211,102);
    border-radius: 10px;
}
.cont{
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google{
    
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: cyan;
    
}
.imag{
    width: 50px;
    margin-top: 25px;
}
.inp{
    outline: none;
    margin: 5px;
}
.glink{
    text-decoration: none;
    color: crimson;
}
.fa-light{
    width: 100px;
}