.logo{
    width: 50px;
    padding: 5px;
}
.navbar{
    width: screen;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37,211,102);
}
.logoname{
    padding: 2px;
    font-size: 30px;
    margin: 5px;
    font-weight: bolder;
}
*{
    margin: 0%;
    padding: 0%;
}
.container{
    background-color: rgb(253, 242, 228);
    height: 70vh;
    width: 60vw;
    display: block;
    margin: auto;
    overflow-y: auto;
}
.submitbar{
    display: flex;
    justify-content: center;
}
.in{
    width: 56vw;
    border-radius: 10px;
    margin: 2px;
}
.bt{
    border-radius: 5px;
    padding: 5px;
}
.message{
    background-color: white;
    display: block;
    width: fit-content;
    padding: 7px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.right{
   float: right;
   clear: both;
}
.left{
   float: left;
   clear: both;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
}
.users{
    
    border-radius: 5px  ;
    width: 25vw;
    background-color: lightgreen;
}

.use{
    padding: 5px;
    margin: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: bisque;
    display: flex;
    align-items:  center;
}
.head-user{
    padding: 2px;
    text-align: center;
}
.only-users{
    height: 67vh;
    overflow-y: auto;
   
}
#pht{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 2px;
    transition: ease-in-out;
    cursor: pointer;
}
#pht:hover{
    position: relative;
    left: 130px;
    width: 75px;
    height: 75px;
}
#pht:hover + #text_u{
     display: none;
}
.txt{
    font-size: larger;
    padding: 15px;
}
.drop{
    position: relative;
    cursor: pointer;
    padding: 5px;
    float: right;
}
#menu-drop{
    width: fit-content;
    position: relative;
    bottom: 550px;
    float: right;
    padding: 7px;
    border: 2px solid red;
    border-radius: 5px;
    margin-right: 17px; 
    background-color: burlywood;  
    display: none;
    transition: ease-in-out;
}
.list{
    list-style: none;
}
#clr{
    cursor: pointer;
    margin-bottom: 3px;
}
html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: white;
}
.cross{
    display: none;
}
.dt{
    padding: 5px;
    display: none;
}
.sd{
    width: 77vw;
    float: right;
}
.vc{
    margin: 2px;
    margin-top: 5px;
    cursor: pointer;
}
.end{
    display: none;
    margin: 2px;
    margin-top: 2px;
    cursor: pointer;
    
}
#drk{
    cursor: pointer;
}
#lig{
    cursor: pointer;
    color: rgb(255,0,0);
}