<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" href="group.css">
    <link rel="stylesheet"  media="screen and (max-width:1160px)" href="group_res.css">
</head>
<body>
    <nav class="navbar">
        <img src="whatsapp-g895561fde_1280.png" alt="" class="logo">
        <span class="logoname">WhatsApp</span>
        <div class="sd"><i class="fa-solid fa-ellipsis-vertical drop"></i></span>
    </nav>
    <div class="cont">
        <div class="center">
           <img src="whatsapp-g895561fde_1280.png" alt="" srcset="" class="imag">
           <div class="profile-photo">
               <img src="main-qimg-2b21b9dd05c757fe30231fac65b504dd.webp" alt="" srcset="" id="php">
           </div>
           <label for="file" id="inpimg"><img src="add-camera-icon-icon-add-11553485583calilemiyg.png" alt="" srcset=""></label>
           
        </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
    <input type="file" accept="image/*" id="file" name="phto" >
    <div class="grp">
        <div class="hd">
            <h1>Groups</h1>
            <span class="crt" id="crt_1">Create a group</span>
        </div>
        <div class="grps">
               <span>Fun Talk!</span>
               <button type="submit" >Join!</button>
        </div>
    </div>
    </form>
</body>
<script src="index_3.js"></script>
</html>