<!DOCTYPE html>
<html lang="en">
<head id="hd">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="whatsapp-g895561fde_1280.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/746b6ac135.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="phone.css " media="screen and (max-width:770px)">
</head>
<body>  
    <nav class="navbar">
        <img src="whatsapp-g895561fde_1280.png" alt="" class="logo">
        <span class="logoname">WhatsApp</span>
        <div class="sd"><i class="fa-solid fa-ellipsis-vertical drop"></i></span>
    </nav>
    <div class="main">
        <span class="dt"><i class="fa-solid fa-ellipsis-vertical "></i></span>
    <div class="users">
        <span class="cross"><i class="fa-solid fa-xmark " ></i></span>
       
        <div class="only-users"> 
            <div class="use"><img src="whatsapp-g895561fde_1280.png" alt="" srcset="" id="pht"><span  id="text_u">Burhanuddin Murtaza Tinwala</span></div>  
        </div>
    </div>
    <div class="rightside">
    <div class="container">
        <br>
    </div>
    <div class="send">
         <form action="" class="submitbar">
            <input type="text" class="in" name="name">
            <span class="vc"><i class="fa-solid fa-microphone"></i></span>
            <span class="end"><i class="fa-solid fa-xmark end"></i></span>
            <button type="submit" class="bt">Send</button>
         </form>
    </div></div>
</div>
<div  id="menu-drop" >
    <ul class="list">
        <li id="clr">Clear Chat </li>
        <li id="drk">Dark Theme </li>
        <li id="lig">Light Theme </li>
    </ul>
</div>
</body>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="index.js"></script>
</html>