<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_1.css">
    <link rel="shortcut icon" href="whatsapp-g895561fde_1280.png" type="image/x-icon">
    <link rel="stylesheet"  media="screen and (max-width:1160px)" href="phone_1.css">
    <link rel="stylesheet" media="(min-width:600px) and (max-width:1160px)" href="phone_2.css">
    
</head>
<body>
    <div class="cont">
     <div class="center">
        <img src="whatsapp-g895561fde_1280.png" alt="" srcset="" class="imag">
        <h1 class="head">Welcome To WhatsApp</h1>
        <form method="post" encType="multipart/form-data">
        <button class="google" ><a  class="glink"> Continue With Google </a></button></form>
     </div></div>
</body>
<script src="index_2.js"></script>
</html>