<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_1.css">
    <link rel="shortcut icon" href="whatsapp-g895561fde_1280.png" type="image/x-icon">
</head>
<body>
    <div class="cont">
     <div class="center">
        <img src="whatsapp-g895561fde_1280.png" alt="" srcset="" class="imag">
        <h1>Login To WhatsApp</h1>
        <button class="google" ><a href="/google" class="glink"> Continue With Google </a></button>
     </div></div>
</body>

</html>